<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<title>Cadastro de Usuario</title>
	<script src="script.js" defer></script>
</head>

<body>
	<div class="box">
		<h1>Cadastro</h1>
		<form action="">
			<input class="nome" type="text" name="nome" placeholder="Nome">
			<input class="email" type="email" name="email" placeholder="Email">
			<input class="senha" type="password" name="senha" placeholder="Senha">
			<button>Cadastrar</button>
		</form>
	</div>
</body>

</html>
